.home-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home-page .middle-content {
    max-width: 50%;
    max-height: 50%;
    scale: 0.8;
    /* top: 50; */
    position: absolute;
}
.home-page .logo-img-wrapper{
    overflow: hidden;
    transform-origin: center;
}
.home-page .logo-img-wrapper img {
    height: 100%;
    width: 100%;
}
.home-page .my-name {
    position: absolute;
    top: -17.5vw;
    left: 10%;
    font-size: 10px;
    font-weight: 700;
    opacity: 0;
    text-transform: uppercase;
}
.home-page .img-name {
    position: absolute;
    left: 0;
}
.home-page .date {
    position: absolute;
    right: 0;
}
.home-page .img-name, .home-page .date {
    text-transform: uppercase;
    font-weight: 700;
    bottom: -20%;
    font-size: 10px;
    opacity: 0;
}
.normal-content {
    display: none;
}
/* title styles */
.title-stn {
    font-size: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    color: var(--title-font-color);
    margin-top: 35vh;
    font-weight: 700;
    font-family: var(--secondary-font);
    user-select: none;
}
.line-1 {
    display: flex;
    align-items: center;
}
.line-1 span:nth-child(2) {
    content: '';
    background-color: var(--title-font-color);
    width: 10rem;
    height: 1.5vw;
    margin: 0 1rem;
}
.lineChildren {
    transform: translate(0, 100%);
}
.lineParent {
    overflow: hidden;
}

/* scroll section */
.scroll-stn {
    font-size: .8em;
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 45vh;
    padding-top: 45vh;
}
.scroll-stn #scroll {
    transform: rotateZ(90deg);
}
.scroll-indicator {
    content: '';
    width: .05em;
    height: 6rem;
    background-color: var(--title-font-color);
    /* transform: rotateZ(90deg); */
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
}
.scroll-indicator::after {
    content: '';
    width: .01em;
    height: 5rem;
    background-color: var(--primary-font-color);
    position: absolute;
    z-index: 10;
    top: 100%;
    animation: scroll 800ms infinite forwards ease-out;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    25% {
        top: 0%;
    }
    75% {
        top: -75%;
    }
    100%{
        top: -100%;
    }
}

/* about section */
.about-stn {
    padding: 0 3rem;
    padding-bottom: 20vh;
}
.body {
    font-size: 5vw;
    font-family: var(--secondary-font);
    text-align: center;
    line-height: 1em;
    font-weight: 500;
}