.hello {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2em;
    margin-bottom: 10vh;
}
.contact-stn {
    padding-top: 120px;
}
.contact-stn .bod {
    font-family: 'Bodoni Moda', serif;
    font-size: 18vw;
    text-transform: uppercase;
    color: var(--title-font-color);
    position: relative;
    text-align: center;
    line-height: 40vh;
    opacity: 0;
}
.contact-stn .bod div:nth-child(1) {
    z-index: 2;
}
.contact-stn .bod div:nth-child(2) {
    z-index: -2;
    position: relative;
}
.gif-wrapper {
    width: 30vw;
    height: 20vw;
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: -1;
}
.gif-wrapper img {
    max-height: 100%;
    max-width: 100%;
}
.lineChildren {
    transform: translate(0, 100%);
}
.lineParent {
    overflow: hidden;
}
.contact-stn .is-reveal {
    opacity: 1;
}